# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependencies
*.d

# output folders
obj/
obj32/
obj64/

# scratch stuff
scratch/

# configuration makefile
config.mk
